# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - save_cache:
          paths:
            - ~/node_modules
            - ~/dist 
          key: "npm-packages"
      - run: npm run lint

  test:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - restore_cache:
            keys:
              - "npm-packages"
      - run: npm run test
  
  analyze:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - restore_cache:
            keys:
              - "npm-packages"
      - run: npm run audit

# Orchestrate or schedule a set of jobs
workflows:
  basic_:
    jobs:
      - build
      - test:
          requires:
            - build
      - analyze:
          requires:
            - test